html {
  background-color: #0f0f0f; 
}

body {
  overflow: hidden;
}

html, body {
  margin: 0;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 1fr);

}

.item1 {
  grid-area: 1 / 1;
}

.item2 {
  grid-area: 3 / 3;
}

.item3 {
  grid-area: 9 / 6;
}