{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/global.css' %}">
    <title>n3w.ai</title>
</head>

<body>
    <div class="container">

        <a class="item1" href="https://www.remove.bg/pt-br">
            <h1> 1 </h1>
        </a>

        <a class="item2" href="https://www.iloveimg.com/pt">
            <h1> 2 </h1>
        </a>

        <a class="item3" href="https://www.online-image-editor.com/?language=portuguese">
            <h1> 3 </h1>
        </a>

        <!-- <a href="https://clipchamp.com/en/video-editor/">
            <h1> Editor de vídeo online </h1>
        </a> -->

    </div>

</body>

</html>